venv/
backend/raw_gaze_data.csv
backend/fixations.csv
backend/all_gaze_data.csv
backend/aoi_config.json
backend/p10_all_gaze.csv
backend/visualize_fixations.py
backend/data_comparison.py
backend/visualize_fixations.py
backend/WebGazer_AOI_DGMs/p31_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p31_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p28_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p28_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p27_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p26_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p27_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p26_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p25_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p25_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p24_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p24_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p23_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p23_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p22_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p22_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p21_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p21_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p20_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p20_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p18_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p18_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p17_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p17_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p16_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p16_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p15_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p13_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p13_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p12_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p12_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p11_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p11_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p10_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p10_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p9_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p9_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p8_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p8_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p7_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p7_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p6_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p6_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p5_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p5_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p4_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p4_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p3_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p3_AOI_DGMs.csv
backend/WebGazer_AOI_DGMs/p1_AOI_Transitions.csv
backend/WebGazer_AOI_DGMs/p1_AOI_DGMs.csv
backend/plots/proportion_of_fixations_mean_barplot.png
backend/plots/proportion_of_fixations_distribution_boxplot.png
backend/plots/proportion_of_fixation_duration_mean_barplot.png
backend/plots/proportion_of_fixation_duration_distribution_boxplot.png
backend/plots/p21_GP_fixations_eps0.300_minS5.png
backend/plots/p21_GP_fixations_eps0.030_minS5.png
backend/plots/p21_GP_fixations_eps0.013_minS50.png
backend/plots/p21_GP_fixations_eps0.013_minS38.png
backend/plots/p21_GP_fixations_eps0.013_minS26.png
backend/plots/p21_GP_fixations_eps0.013_minS15.png
backend/plots/p21_GP_fixations_eps0.011_minS50.png
backend/plots/p21_GP_fixations_eps0.011_minS38.png
backend/plots/p21_GP_fixations_eps0.011_minS26.png
backend/plots/p21_GP_fixations_eps0.011_minS15.png
backend/plots/p21_GP_fixations_eps0.009_minS50.png
backend/plots/p21_GP_fixations_eps0.009_minS38.png
backend/plots/p21_GP_fixations_eps0.009_minS26.png
backend/plots/p21_GP_fixations_eps0.009_minS15.png
backend/plots/p21_GP_fixations_eps0.007_minS50.png
backend/plots/p21_GP_fixations_eps0.007_minS38.png
backend/plots/p21_GP_fixations_eps0.007_minS26.png
backend/plots/p21_GP_fixations_eps0.007_minS15.png
backend/plots/p21_GP_fixations_eps0.01_minS15.png
backend/plots/p21_GP_fixabababooeytions_eps0.030_minS4.png
backend/plots/p21_fixations_eps0.300_minS5.png
backend/plots/p21_fixations_eps0.011_minS26.png
backend/plots/p21_fixabababooeytions_eps0.011_minS26.png
backend/plots/p21_fixabababooeytions_eps0.011_minS5.png
backend/plots/global_mean_saccade_length_boxplot.png
backend/plots/global_mean_saccade_length_barplot.png
backend/plots/aoi_transitions_boxplot.png
backend/output_tables/proportion_of_fixations_summary.csv
backend/output_tables/proportion_of_fixation_duration_summary.csv
backend/output_tables/global_ttest_results.csv
backend/output_tables/combined_DGMs_summary.csv
backend/output_tables/AOI_paired_ttest_results.csv
backend/output_tables/aggregated_AOI_metrics.csv
backend/GP_AOI_DGMs/p31_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p31_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p28_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p27_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p28_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p27_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p26_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p26_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p25_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p25_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p24_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p24_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p23_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p23_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p22_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p22_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p21_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p21_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p20_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p20_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p18_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p18_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p17_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p17_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p16_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p16_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p15_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p15_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p13_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p13_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p12_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p12_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p11_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p11_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p10_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p10_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p9_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p9_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p8_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p8_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p7_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p7_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p6_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p6_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p5_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p4_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p5_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p4_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p3_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p3_GP_AOI_DGMs.csv
backend/GP_AOI_DGMs/p1_GP_AOI_Transitions.csv
backend/GP_AOI_DGMs/p1_GP_AOI_DGMs.csv
backend/visualize_fixations.py
backend/update_WG_AOIs.py
backend/update_GP_AOIs.py
backend/update_gazepoint.py
backend/trim.py
backend/saccade.py
backend/p31_GP_all_gaze.csv
backend/p28_GP_all_gaze.csv
backend/p29_GP_all_gaze.csv
backend/p27_GP_all_gaze.csv
backend/p26_GP_all_gaze.csv
backend/p25_GP_all_gaze.csv
backend/p24_GP_all_gaze.csv
backend/p23_GP_all_gaze.csv
backend/p22_GP_all_gaze.csv
backend/p21_GP_all_gaze.csv
backend/p21_all_gaze.csv
backend/p20_GP_all_gaze.csv
backend/p19_GP_all_gaze.csv
backend/p17_GP_all_gaze.csv
backend/p18_GP_all_gaze.csv
backend/p16_GP_all_gaze.csv
backend/p15_GP_all_gaze.csv
backend/p13_GP_all_gaze.csv
backend/p12_GP_all_gaze.csv
backend/p11_GP_all_gaze.csv
backend/p10_GP_all_gaze.csv
backend/p9_GP_all_gaze.csv
backend/p8_GP_all_gaze.csv
backend/p7_GP_all_gaze.csv
backend/p6_GP_all_gaze.csv
backend/p5_GP_all_gaze.csv
backend/p4_GP_all_gaze.csv
backend/p3_GP_all_gaze.csv
backend/p1_GP_all_gaze.csv
backend/gaze_converter.py
backend/dgm_analysis.py
backend/combinedDGMs_WebGazerData.csv
backend/combinedDGMs_GazePointData.csv
backend/AOI.py
backend/gaze_converter.py
backend/visualize_fixations.py
